<div class="map-wrapper">
  <!-- Інформаційні повідомлення над картою -->
  <div class="notifications-container">
    <div
      class="map-notification"
      *ngIf="
        currentPhase.status === 'planning' &&
        currentPhase.activePlayerId === currentUserId
      "
    >
      <nb-icon icon="map-outline"></nb-icon>
      <span>Оберіть регіон для зафарбування</span>
    </div>

    <div
      class="map-notification"
      *ngIf="currentPhase.status === 'post-planning'"
    >
      <nb-icon icon="pin-outline"></nb-icon>
      <span>Регіон обрано: {{ currentPhase.regionId }}</span>
    </div>

    <div
      class="map-notification"
      *ngIf="
        currentPhase.status === 'post-answer' ||
        currentPhase.status === 'skipped'
      "
    >
      <nb-icon
        [icon]="
          currentPhase.status === 'post-answer'
            ? 'checkmark-circle-outline'
            : 'close-circle-outline'
        "
      ></nb-icon>
      <span *ngIf="currentPhase.status === 'post-answer'"
        >Результат зафіксовано</span
      >
      <span *ngIf="currentPhase.status === 'skipped'">Хід пропущено</span>
    </div>
  </div>

  <!-- Карта -->
  <div id="map-container" #map class="map-container"></div>
</div>
